:root {
  --header-bg: rgba(23, 18, 38, .9);
  --header-color: #FFF;
  --header-height: 4rem;
  --header-container-width: 1200px;
  --panel-width-mobile: 100%;
  --panel-width-desktop: 90%;
  --hamburger-color: #0096D9;
  --logo-url: url('../img/marathons-logo.svg');
  --logo-top: 0;
  --logo-width-mobile: 4rem;
  --logo-width-desktop: 10%;
  --logo-height: 4rem;
  --logo-bg-size: 3.5rem;
}

html { 
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*:after,
*:before { 
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body { overflow-x: hidden; }

.hamburger:focus {
  outline: 0;
  border: 0;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before { background-color: var(--hamburger-color) }

.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-bg);
  color: var(--header-color);
}

.Header-container {
  margin: auto;
  max-width: var(--header-container-width);
}

.Logo {
  position: fixed;
  top: var(--logo-top);
  /*left: 0;*/
  /*right: 0;*/
  left: calc( 50% - (var(--logo-width-mobile) / 2) );
  z-index: 998;
}

.Logo-link {
  display: block;
  width: var(--logo-width-mobile);
  height: var(--logo-height);
  text-indent: -9999px;
  background-image: url('../img/marathons-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--logo-bg-size);
}

.Panel {
  position: fixed;
  z-index: 996;
  bottom: 0;
  /*top: var(--header-height);*/
  left: 0;
  width: var(--panel-width-mobile);
  max-height: 0;
  overflow: hidden;
  transform: translateY(100vh);
  /*transform: translateY(-100vh);*/
  transition: all .3s ease-out;
}

.Panel.is-active {
  max-height: 100vh;
  overflow-y: hidden;
  transform: translateY(0);
}

.Panel-button {
  position: fixed;
  z-index: 999;
  top: 0;
  /*left: 0;*/
  right: 0;
}

.Menu {
  width: 100vw;
  background-color: var(--header-bg);
}

.Menu-listItem {
  list-style-type: none;
  border-top: thin solid var(--hamburger-color);
  text-align: center;
}

.Menu-item { border-bottom: thin solid var(--hamburger-color); }

.Menu-link {
  display: block;
  padding: 1rem;
  font-weight: bold;
  color: var(--hamburger-color);
  transition: all .3s ease-out;
}

.Menu-link:hover {
  background-color: var(--hamburger-color);
  color: var(--header-color);
}

.u-afterFixed { padding-top: var(--header-height); }

/*@media screen and (min-width: 1024px) {*/
@media screen and (min-width: 64em) {
  .Header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Logo {
    position: static;
    width: var(--logo-width-desktop);
  }

  .Panel-button { display: none; }

  .Panel {
    position: static;
    width: var(--panel-width-desktop);
    max-height: none;
    overflow: visible;
    transform: translateY(0);
    transition: none;
  }

  .Menu {
    width: 100%;
    background-color: transparent;
  }

  .Menu-listItem {
    border-top: 0;
    text-align: right;
  }

  .Menu-item {
    border-bottom: 0;
    display: inline;
  }

  .Menu-link { display: inline; }

  .Menu-link:hover {
    background-color: transparent;
  }
}



